<h3>Nama Siswa : <%= data_siswa.nama %> </h3>
<p>Nis : <%= data_siswa.nis %></p>
<p>Kelas : <%= data_siswa.id_k %></p>
<p>Nilai : <%= data_nilai.nilai %></p>
<p>Nilai Benar : <%= data_nilai.nb %></p></p>
<p>Nilai Salah : <%= data_nilai.ns %></p></p>
<p>Tanggal : <%= data_nilai.tgl %></p></p>
