<h1>Ujian</h1> 
<h3>Tanggal <%= tgl %></h3> 
<hr>
<p>Pengajar : <%= guru.nama %></p>
<p>Mata Pelajaran : <%= guru.ket %></p>
<p>Waktu : <%= data.waktu %> jam</p>
<hr>
<h3>Biodata Anda</h3>
<p>Nis  : <%= data.nis %></p>
<p>Nama  : <%= data.nama %></p>
<p>Kelas : <%= data.id_k %></p>
<p>Absen : unknown</p>
<p>Jenis Kelamin : <%= data.jk %></p>
<span><a href="/siswa/soal">Mulai</a></span>
